


.headingContainer{
    /* margin-top: 10rem; */
    /* border: 1px solid red; */
    color: #153462 ;
    text-align: center;
    padding: 0.25rem;
}
.headingContainer h1 {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}
.headingContainer h3 {
   
    font-family: monospace;
    margin: 0.5rem;
    color: #1c8879;

}

@media all and (max-width: 800px){
    .headingContainer{
        margin-bottom: -20px;
    }
}

